@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mesh {
  background-color: rgb(10 10 10);
  background-image: radial-gradient(
      at 89% 54%,
      hsla(202, 6%, 32%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 15% 91%, rgb(23 23 23) 0px, transparent 50%),
    radial-gradient(at 97% 91%, rgb(38 38 38) 0px, transparent 50%),
    radial-gradient(at 61% 72%, rgb(64 64 64) 0px, transparent 50%),
    radial-gradient(at 54% 65%, rgb(12 10 9) 0px, transparent 50%);
}

.mesh2 {
  background-color: rgb(10 10 10);
  background-image: radial-gradient(
      at 87% 74%,
      rgb(38 38 38) 0px,
      transparent 50%
    ),
    radial-gradient(at 23% 13%, hsla(202, 6%, 32%, 1) 0px, transparent 50%),
    radial-gradient(at 81% 40%, rgb(64 64 64) 0px, transparent 50%),
    radial-gradient(at 30% 38%, rgb(12 10 9) 0px, transparent 50%);
}

.mesh3 {
  background-color: hsla(240, 4%, 95%, 1);
  background-image: radial-gradient(
      at 85% 24%,
      hsla(39, 100%, 90%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 69% 76%, hsla(224, 100%, 89%, 1) 0px, transparent 50%);
}

.mesh4 {
  background-color: hsla(240, 4%, 95%, 1);
  background-image: radial-gradient(
      at 20% 6%,
      hsla(217, 100%, 91%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 88% 34%, hsla(40, 100%, 91%, 1) 0px, transparent 50%);
}
